
.admin-login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1588776814546-1ffcf47267a1?auto=format&fit=crop&w=1920&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.login-card {
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  border-radius: 10px;
  width: 350px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-card h3 {
  text-align: center;
  color: #007bff;
  margin-bottom: 25px;
  font-weight: 600;
}

.login-card label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}

.login-card input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
}

.login-card button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #0056b3;
}

.admin-dashboard {
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}


@media (max-width: 600px) {
  .login-card {
    width: 90%;
    padding: 20px;
  }
}